tr:nth-child(even) {
    background: white;
  }
  tr:hover{
  background-color:#DCDCDC
  }
  
  
  
  
  @media screen and (max-width: 800px) {
  
  .table{
  
  font-size:0.6em;
  
  
  }
  .btn{
  
  font-size:0.6em;
  
  
  }
  
  
  }
  
  @media screen and (max-width: 770px) {
  
  .table{
  
  font-size:0.45em;
  
  
  }
  
  .btn{
  
  font-size:0.45em;
  
  
  }
  
  }
  .alert{
  position:absolute;
  top: 0;
  left: auto;
  }
  